<head>
    <title>CCTV 모니터링</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
{% extends 'base.html' %}
{% block content %}
<body class="container-fluid-maxwidth w-100 h-100 bg-dark text-white">
    <div class="row" style="height: 50%;">
        <div class="col-4" style="background-color:blueviolet;">
            <div class="ratio" style="width: 100%; height: 100%;">
                <img onclick="javascript:;window.open('/');" src="{{ url_for('video_feed') }}" width="100%">
            <div class="mask text-light d-flex justify flex-column" style="text-align: right; height: auto;">
                <h1 id="clock"></h1>
            </div>
    
        </div>
    </div>
    

    </div>
    <script>
        var Target = document.getElementById("clock");
        function clock() {
            var time = new Date();

            var month = time.getMonth();
            var date = time.getDate();
            var day = time.getDay();
            var week = ['일', '월', '화', '수', '목', '금', '토'];

            var hours = time.getHours();
            var minutes = time.getMinutes();
            var seconds = time.getSeconds();

            Target.innerText = 
            `${month + 1}월 ${date}일 ${week[day]}요일 ` +
            `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`;
                
        }
        clock();
        setInterval(clock, 100);
    </script>
</body>
{% endblock %}