<head></head>
{% extends 'base.html' %}
{% block content %}
<div style="padding:25px;">
  <div class="row" style="height:90%;">
    <div class="col-6" style="height:100%;">
      <div class="row" style="height:50%; display: flex;justify-content: center;">
      </div>
      <div class="row" style="height:50%; display: flex;justify-content: center;">
        <b style=" text-align:center;font-size: 20px; margin-top:5px;">요일별 감지 횟수</b>
        <canvas id="DayofWeek"></canvas>
      </div>
      
    </div>
    <div class="col-6">
      <div class="row" style="height:50%; display: flex;justify-content: center;">
        <b style=" text-align:center; font-size: 20px;">CCTV별 감지 비율</b>
        <canvas id="DetRateByCCTV" style="width:90%; height:90%;"></canvas>
      </div>
      <div class="row" style="height:50%; display: flex;justify-content: center;">
        <b style=" text-align:center;font-size: 20px; margin-top:5px;">월별 감지 횟수</b>
        <canvas id="Monthly"></canvas>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const DoW = document.getElementById('DayofWeek');
  const Month = document.getElementById('Monthly');
  const DRBC = document.getElementById('DetRateByCCTV');

  new Chart(DoW, {
    type: 'line',
    data: {
      labels: ['Sun','Mon','Tues','Wed','Thurs','Fri','Sat'],
      datasets: [{
        label: '요일별 감지 횟수',
        data: {{day_per_eventlist}},
        borderWidth: 1
      }]
    },
    options: {
      plugins:{
        legend:{
          display : false
        }
      },
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  new Chart(Month, {
    type: 'line',
    data: {
      labels: ['Jan.','Feb.','Mar.','Apr.','May.','Jun','Jul.','Aug.','Sep.','Oct.','Nov.','Dec.'],
      datasets: [{
        label: '월별 감지 횟수',
        data: {{month_per_eventlist}},
        borderWidth: 1
      }]
    },
    options: {
      plugins:{
        legend:{
          display : false
        }
      },
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  new Chart(DRBC, {
    type: 'doughnut',
    data: {
      labels: ['공대1,2호관','공대3호관','공대4호관','공대5호관','대외협력관','스포츠센터'],
      datasets: [{
        data: {{place_per_eventlist}},
        borderWidth: 1
      }]
    },
    options: {
      responsive: false,
      plugins:{
        legend: {
          position: 'right',
      }
      },
      scales: {
        
        y: {
          beginAtZero: true,
        }
      },
      title: {
        display: true,
        text: 'Custom Chart Title'
      }
    }
  });
  
</script>
{% endblock %}