<head>
    <title>CCTV 모니터링</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
{% extends 'base.html' %}
{% block content %}
<body class="container-fluid-maxwidth w-100 h-100 bg-dark text-white">
    <div>
        <div class="container-xxl p-5 w-75 h-100 ">
            <div class="row" style="height: 100%;">
                <div class="col-9">
                <div class="row" style="height: 70%;" >
                    <!-- CCTV 화면  원클릭 : 이전 페이지 / 더블클릭 : 전체화면으로 보기 -->
                    <div class="col" style="background-image: url('static/nosignal.png'); background-repeat: no-repeat; background-size:20%; background-position:center;">
                        <div class="ratio" style=" height: 100%; width: 80%; float: none; margin:0 auto; ">
                            <img id="node" src="{{ url_for('video_feed',cctv_section=sec) }}" width="100%">{{sec}}</img>
                            <div class="mask text-light" style="height: auto;">
                                <h1>{{sec}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 날씨, 상세정보, 드론정보 -->
                    <div class="row" style="height: 30%; background-color: blue;">
                        <div class="col-3" style="background-color:bisque">
                            날씨
                        </div>
                        <div class="col-6" style="background-color:rgb(169, 99, 13)">
                            클릭시 상세정보 출력
                        </div>
                        <div class="col-3" style="background-color:rgb(43, 25, 3)">
                            드론정보
                        </div>
                    </div>
                </div>
                <!-- 처리경과 및 이벤트 테이블 -->
                <div class="col-3">
                    <div class="row" style="height: 50%; background-color: darkolivegreen;">
                        처리경과
                    </div>
                    <div class="row" style="height: 50%; background-color: darkcyan;">
                        이벤트 테이블
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var timer = 0
        var delay = 200
        var prevent = false
        //원클릭
        node.onclick = (evnt) => {
            timer = setTimeout(() => {
                if(!prevent){
                    window.history.back();
                }
                prevent = false
            }, delay)
        }
        //더블클릭
        node.ondblclick = (evnt) => {
            clearTimeout(timer)
            prevent=true
            sec_get("{{sec}}");
        }
        //big_screen.html 하이퍼링크
        function sec_get(obj) {
            var section = '/big_screen?section=' + obj
            window.location.href = section
        }
    </script>
</body>
{% endblock %}