<head></head>
{% extends 'base.html' %}
{% block content %}
<!-- <div style="background-color: #000000; margin-top:10px; margin-right: 10px; margin-left:5px; width: 70%; background-repeat: no-repeat; background-size:20%; background-position:center;">
    <div class="ratio" style="width: 100%; height: 100%;">
        <img onclick="sec_get('{{sec}}');" src="{{ url_for('video_feed', cctv_section=sec) }}"
            onerror="this.src='static/nosignal4.png'" width="50%">
        <div class="mask text-light" style="height: auto;">
            <h4>{{sec}}</h4>
        </div>
    </div>
</div> -->
<div class="row" style="height: 100%;">
    <div class="col-9">
        <div style="background-color: #000000; margin-top:10px; margin-right: 10px; margin-left:5px; width:100%; background-repeat: no-repeat; background-size:20%; background-position:center;">
            <div class="ratio" style="width: 100%; height: 100%;">
                <img onclick="sec_get('{{sec}}');" src="{{ url_for('video_feed', cctv_section=sec) }}" onerror="this.src='static/nosignal4.png'" width="50%">
                <div class="mask text-light" style="height: auto;">
                    <h4>{{sec}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3" style="margin-top:10px; text-align:center;">
        <h1>공사예정</h1>
    </div>
</div>

<script>
    var timer = 0
    var delay = 200
    var prevent = false
    //원클릭
    node.onclick = (evnt) => {
        timer = setTimeout(() => {
            if (!prevent) {
                window.history.back();
            }
            prevent = false
        }, delay)
    }
    //더블클릭
    node.ondblclick = (evnt) => {
        clearTimeout(timer)
        prevent = true
        sec_get("{{sec}}");
    }
    //big_screen.html 하이퍼링크
    function sec_get(obj) {
        var section = '/big_screen?section=' + obj
        window.location.href = section
    }
</script>
{% endblock %}