<head></head>
{% extends 'base.html' %}
{% block content %}
<!-- <div style="background-color: #000000; margin-top:10px; margin-right: 10px; margin-left:5px; width: 70%; background-repeat: no-repeat; background-size:20%; background-position:center;">
    <div class="ratio" style="width: 100%; height: 100%;">
        <img onclick="sec_get('{{sec}}');" src="{{ url_for('video_feed', cctv_section=sec) }}"
            onerror="this.src='static/nosignal4.png'" width="50%">
        <div class="mask text-light" style="height: auto;">
            <h4>{{sec}}</h4>
        </div>
    </div>
</div> -->
<div class="row" style="height: 96%;">
    <div class="col-9">
        <div
            style="background-color: #000000; margin-top:1%; margin-right: 10px;border-radius: 10px; margin-left:5px; width:100%; background-repeat: no-repeat; background-size:20%; background-position:center;">
            <div class="ratio" style="width: 100%; height: 100%;">
                <img src="{{ url_for('video_feed', cctv_section=sec) }}" onerror="this.src='static/nosignal4.png'"
                    width="50%" style="border-radius: 10px;">
                <div class="mask text-light" style="height: auto;padding:10px;">
                    <div class="row" style="height:100%;">
                        <div class="col-10" style=" text-align:left;">
                            <a style="font-size: 20; font-weight:800;">
                                <div style="display: flex; flex-direction: row; background-color: black; width:fit-content;">
                                    <div style="white-space: nowrap;">전남 무안군 청계면 영산로 1666(도림리 61번지) {{sec}} &nbsp;</div>
                                    <div id="time"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-2" style=" text-align:right;">
                            <div class="btn-group" role="group">
                                <a href="/all_cctv" class="btn btn-secondary" role="button" aria-hidden="true"><i
                                        class="fa fa-th-large fa-1x" aria-hidden="true" style="color:aliceblue"></i></a>
                                <a href="/map" class="btn btn-secondary" role="button" aria-hidden="true"><i
                                        class="fa fa-map fa-1x" aria-hidden="true" style="color:aliceblue"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3" style="margin-top:0.5%;">
        <div class="row" style="height:58%;">
            <div class="card" style="width: 98%; height: 97%; margin: 0 auto; margin-top:1%;">
                <div style="margin-left:1%; margin-top:3%; height:95%; width:99%;">
                    <table id="table" data-url="../static/eventtable.json">
                        <thead>
                            <tr>
                                <th data-field="eventtime" data-sortable="true" data-width="20" data-width-unit="%">발생시간</th>
                                <th data-field="state" data-sortable="true" data-width="10" data-width-unit="%">조치</th>
                                <th data-field="sns" data-sortable="true" data-width="10" data-width-unit="%">SNS</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" style="height:38%;">
            <div class="col">
                <div id="map" style="margin-top:10px; width:100%;height:100%; border-radius: 10px;"></div>
            </div>
        </div>
    </div>
</div>
<!-- 테이블 -->
<script>
    var $table = $('#table')

    $(function () {
        $table.bootstrapTable({
            sortReset: true
        })

        $('#sortReset').change(function () {
            $table.bootstrapTable('refreshOptions', {
                sortReset: $('#sortReset').prop('checked')
            })
        })
    })
</script>
<!-- 시간 -->
<script>
  // 1초마다 내용 업데이트
  setInterval(updateContent, 1000);

  function updateContent() {
    // 업데이트할 내용 생성
    var currentTime = new Date().toLocaleTimeString();
    var newContent = currentTime;

    // 요소의 내용 업데이트
    var dynamicElement = document.getElementById("time");
    dynamicElement.innerHTML = newContent;
  }
</script>
<!-- 지도 -->
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(37.54699, 127.09598), // 지도의 중심좌표
            level: 4 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    var imageSrc = '../static/marker.png', // 마커이미지의 주소입니다    
        imageSize = new kakao.maps.Size(40, 50), // 마커이미지의 크기입니다
        imageOption = { offset: new kakao.maps.Point(27, 69) }; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

    // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
        markerPosition = new kakao.maps.LatLng(37.54699, 127.09598); // 마커가 표시될 위치입니다

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition,
        image: markerImage // 마커이미지 설정 
    });

    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);  
</script>
{% endblock %}