<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- Modal Trigger Button -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Open Modal</button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="width: 60vw;">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">OO지역 OO드론</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div id="draggable">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-10 col-sm-12">
                      <video width="100%" controls style="max-width: 100%; height: auto;">
                        <source src="{{ drone_video }}" type="video/mp4" />Your browser does not support the video tag.
                      </video>
                    </div>
                    <div class="col-md-2 col-sm-12">
                      <div class="row justify-content-center">
                        <div class="modal-body-content">
                          <div class="form-group text-center">
                            <strong><label for="recipient-name" class="control-label">드론 상태</label>
                            <div id="status_label">
                              <label id="status" class="control-label" style="font-size:24px;">상태</label></strong>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row justify-content-center">
                        <div class="modal-body-footer">
                          <div class="form-group text-center">
                            <button onclick="location.href='/takeoff'" type="button" class="btn btn-primary btn-sm" style="background-color: orange;">출발</button>
                            <button onclick="location.href='/land'" type="button" class="btn btn-primary btn-sm" style="background-color: gray;">귀환</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <label for="recipient-name" class="control-label"><strong>이벤트 로그:<strong></label>
              <div class="modal-footer">
                <div class="container-fluid">
                  <div class="row">
                   
                      <div class="form-group text-left">
                        <div class="table-responsive">
                          <div id="eventlog-scrollbar" class="table-scrollbar">
                            <table class="table table-sm">
                              <thead class="sticky-top">
                                <tr>
                                  <th>드론 상태</th>
                                  <th>드론 위치</th>
                                  <th>작동 여부</th>
                                </tr>
                              </thead>
                              
                              <tbody id="eventlog-body">
                                <!-- 로그 데이터가 여기에 동적으로 추가될 것입니다. -->
                              </tbody>
                            </table>
                          
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              
            
            
            
          </div>
        </div>
      </div>
    </div>
    
    <script>
      window.addEventListener("DOMContentLoaded", function() {
        // 페이지가 로드되었을 때 실행될 코드
        fetch("/droneStatuslog")  // 서버로 로그 데이터 요청
          .then(function(response) {
            return response.json();  // JSON 형식으로 응답 데이터 변환
          })
          .then(function(data) {
            // 이벤트 로그 표의 본문에 로그 데이터 추가
            var eventlogBody = document.getElementById("eventlog-body");
            data.forEach(function(log) {
              var row = document.createElement("tr");
              var stateCell = document.createElement("td");
              stateCell.textContent = log[0];
              row.appendChild(stateCell);
              var locationCell = document.createElement("td");
              locationCell.textContent = log[1];
              row.appendChild(locationCell);
              var workingCell = document.createElement("td");
              workingCell.textContent = log[2];
              row.appendChild(workingCell);
              eventlogBody.appendChild(row);
            });
          })
          .catch(function(error) {
            console.error("Failed to fetch event log:", error);
          });
      });
    </script>
    
    <script>
      $(document).ready(function () {
        // Make the modal draggable
        $('#myModal').draggable()
      
        // 모달이 열릴 때 동영상을 로드합니다.
        $('#myModal').on('shown.bs.modal', function () {
          statusda = setInterval(updateStatus, 3000)
        })
      
        // 팝업창이 닫힐 때 clearInterval() 함수 호출
        $('#myModal').on('hidden.bs.modal', function () {
          clearInterval(statusda)
        })
      
        // Function to update the status
        function updateStatus() {
          $.ajax({
            url: '/droneStatus',
            success: function (data) {
              // 서버로부터 받아온 상태를 처리하는 코드
              var status = JSON.parse(data)
              if (status[0][1] == '대기') {
                $('#status').css('color', 'green')
              } else if (status[0][1] == '출동중') {
                $('#status').css('color', 'blue')
              } else {
                $('#status').css('color', 'black')
              }
              console.log(status[0][1])
              $('#status').text(status[0][1])
            },
            error: function (xhr, status, error) {
              // 에러 처리하는 코드
              console.error(error)
            }
          })
        }

      })
    </script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
      
      .modal-footer {
        padding-top: 120px;
        height: 100px; /* 원하는 높이로 설정하세요 */
        overflow-y: scroll;
      }
      .modal-dialog {
        max-height: calc(100vh - 120px);
      }
      
      .btn-circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    </style>
  </body>
</html>
