<head></head>
{% extends 'base.html' %}
{% block content %}
<div class="row" style="height: 100%;">
  <div class="card" style="width: 98%; height: 97%; margin: 0 auto; margin-top:1%;">
    <div style="margin-left:1%; margin-top:1%; height:85%; width:99%;">    
      <table
        id="table"
        data-url="../static/eventtable.json"
        data-filter-control="true"
        data-pagination="true"
        data-page-size="25">
        <thead>
          <tr>
            <th data-field="location" data-filter-control="select" data-sortable="true" data-width="10" data-width-unit="%">장소</th>
            <th data-field="eventtime" data-filter-control="input" data-sortable="true"data-width="20" data-width-unit="%">발생시간</th>
            <th data-field="action" data-filter-control="select" data-sortable="true"data-width="30" data-width-unit="%">조치</th>
            <th data-field="state" data-filter-control="select" data-sortable="true"data-width="10" data-width-unit="%">조치 상태</th>
            <th data-field="drone" data-filter-control="select" data-sortable="true"data-width="10" data-width-unit="%">출동 드론</th>
            <th data-field="sns" data-filter-control="select" data-sortable="true"data-width="10" data-width-unit="%">SNS 발송</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  
</div>
<script>
  var $table = $('#table')

  $(function() {
    $table.bootstrapTable({
      sortReset: true
    })

    $('#sortReset').change(function () {
      $table.bootstrapTable('refreshOptions', {
        sortReset: $('#sortReset').prop('checked')
      })
    })
  })
</script>
{% endblock %}