<head>
    <title>CCTV Monitoring</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
{% extends 'base.html' %}
{% block content %}
<body style="background-color: dark;">
    <div class="container-fluid-maxwidth w-100 h-100 bg-dark text-white">
        <div class="container-xxl p-5 w-75 h-100 ">
            <div class="row" style="height: 100%;">
                <div class="col-10">
                <div class="row" style="height: 70%;" >
                    <!-- CCTV 화면 -->
                    <div class="col-10" style="background-color:blueviolet;">
                        <!-- <video controls autoplay="autoplay" muted style="height: 100%; width: 100%; object-fit: fill;">
                            <source src={{ url_for('static', filename="example.mp4") }} type="video/mp4">
                        </video> -->
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/fCO7f0SmrDc" title="(여자)아이들((G)I-DLE) - 'Nxde' Official Music Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <!-- CCTV 목록 -->
                    <div class="col-2"> 
                        <div class="btn-group-vertical" style="width: 100%; height:100%">
                            <button type="button" class="btn btn-dark">남악1</button>
                            <button type="button" class="btn btn-dark">남악2</button>
                            <button type="button" class="btn btn-dark">목포대1</button>
                            <button type="button" class="btn btn-dark">목포대2</button>
                            <button type="button" class="btn btn-dark">하당1</button>
                            <button type="button" class="btn btn-dark">하당2</button>
                          </div>
             </div>
                </div>
                <!-- 상세내용 -->
                <div class="row" style="height: 30%; background-color: blue;">
                    상세내용
                </div>
                </div>
                <!-- 처리결과 -->
                <div class="col-2"  style="background-color:aqua">
                처리결과
                </div>
            </div>
        </div>
    </div>
    <!-- <script>
        function toggleVideo() {
          document.getElementById("cctv").src = { url_for('static', filename="example2.mp4") };
        }
    </script> -->
</body>
{% endblock %}