<head>
    <title> Vision Guard Monitoring System</title>
</head>
{% extends 'base2.html' %}
{% block content %}
<body class="container-fluid-maxwidth w-100 h-100 text-white" style="background-color: #e6e1e1ba;">
    <!-- 위쪽 공간 생성 -->
    <div class="container" style="height: 10%;"></div>
    <!-- 로그인 부분 -->
    <div class="container p-5 align-items-center" style="text-align: center; vertical-align: middle; width: 350px;">
        <form class="form-signin" action="/login_confirm" method="post">
            <img src={{ url_for('static', filename='logo.ico') }} style="height: 100px; width:100px; margin-bottom: 25px;"/>
            <h1 class="h3 mb-3 font-weight-normal"></h1>
            <label for="inputId" class="sr-only"></label>
            <input type="text" id="inputId" name="inputId" class="form-control" placeholder="ID" required="" autofocus="">
            <label for="inputPassword" class="sr-only"></label><p></p>
            <input type="password"  style="margin-bottom: 25px" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required="">
            <button class="btn btn-lg btn-secondary btn-block" type="submit" >Sign in</button>
        </form>

    </div>
</body>
{% endblock %}
