<head>
    <title>로그인</title>
</head>
{% extends 'base.html' %}
{% block content %}
<body class="container-fluid-maxwidth w-100 h-100 bg-dark text-white">
    <div class="container" style="height: 10%;"></div>
    <div class="container p-5 align-items-center" style="text-align: center; vertical-align: middle; width: 350px;">
        <form class="form-signin">
            <img src={{ url_for('static', filename='logo_reverse.ico') }} style="height: 100px; width:100px; margin-bottom: 25px;"/>
            <h1 class="h3 mb-3 font-weight-normal"></h1>
            <label for="inputEmail" class="sr-only"></label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <label for="inputPassword" class="sr-only"></label><p></p>
            <input type="password"  style="margin-bottom: 25px" id="inputPassword" class="form-control" placeholder="Password" required="">
            <button class="btn btn-lg btn-secondary btn-block" type="submit" >Sign in</button>
        </form>

    </div>
</body>
{% endblock %}
