<head></head>
{% extends 'base.html' %}
{% block content %}
<link href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
<div class="row" style="height:85%;">
    <div class="map" id="map" style="margin-left:15px; width:100%;height:100%;"></div>
    <div class="col-3" style="margin-top:30px; margin-left:30px;">
        <table id="table"  class="bg-dark p-2 text-dark bg-opacity-25" data-page-size="5" data-toggle="table" style="width:60%;">
            <thead>
                <tr>
                    <th data-field="operate" data-loading-template="loadingTemplate" data-halign="center" data-align="left" data-formatter="operateFormatter" data-height="300" data-events="operateEvents">CCTV List</th>
                </tr>
            </thead>
            <tbody>
                {% for e in cctv_list %}
                <tr>
                    <td>
                        <p>{{e}}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
    var $table = $('#table')
  
    function operateFormatter(value, row, index) {
        value = value.replace(/<\/?p>/g, '');
        return [
          '<a class="locationclick">',
          '&nbsp&nbsp&nbsp&nbsp<i class="fa fa-bandcamp fa-1x" style="font-size:20px; color:#00CED1;">&nbsp', value, '</i>',
          '</a>  '
        ].join('');
      }
  
    window.operateEvents = {
      'click .locationclick': function (e, value, row, index) {
        value = value.replace(/<\/?p>/g, '');
        var section = '/detail?section=' + value
        window.location.href = section
      }
    }
  </script>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=07a938b94c7bff9361f7a8a8e0b26bbd"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
        mapOption = {
            center: new kakao.maps.LatLng(34.91348745941784, 126.43773384035988), // 지도의 중심좌표
            level: 2 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 마커를 표시할 위치와 title 객체 배열입니다 
    var positions = [
        {
            title: '공대4',
            latlng: new kakao.maps.LatLng(34.9130096158476, 126.43770974215572)
        },
        {
            title: '공대1,2',
            latlng: new kakao.maps.LatLng(34.912543818087656, 126.436394346095)
        },
        {
            title: '공대3',
            latlng: new kakao.maps.LatLng(34.91305599869959, 126.43702004357176)
        },
        {
            title: '공대5',
            latlng: new kakao.maps.LatLng(34.91441487047608, 126.43897772651881)
        },
        {
            title: '대외협력관',
            latlng: new kakao.maps.LatLng(34.91401409169008, 126.43807494454806)
        },
        {
            title: '스포츠센터',
            latlng: new kakao.maps.LatLng(34.914668634757646, 126.43830028258716)
        }
    ];

    // 마커 이미지의 이미지 주소입니다
    var imageSrc = "../static/marker.png";

    for (var i = 0; i < positions.length; i++) {

        // 마커 이미지의 이미지 크기 입니다
        var imageSize = new kakao.maps.Size(30, 40);

        // 마커 이미지를 생성합니다    
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
            title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image: markerImage // 마커 이미지
        });
        kakao.maps.event.addListener(marker, 'click', function () {
            var position = this.getPosition();
            var section = this.getTitle();
            location.href = '/detail?section=' + section;
        });
    }
</script>

{% endblock %}