@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.wrapper{
  width: 100%;
  height: 100%;
}

.top_navbar{
  background: #1d1d1d;
  height: 50px;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.top_navbar .hamburger{
  width: 60px;
  background: #1d1d1d;
  position: relative;
  font-size: 28px;
}

.top_navbar .hamburger .hamburger__inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  width: 50px;
  height: 20px;
}

.top_navbar .hamburger__inner > div{
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 5px;
}

.top_navbar .hamburger div.two{
  top: 10px;
  width: 40px;
}

.top_navbar .hamburger div.three{
  top: 20px;
}

.top_navbar .menu{
  width: calc(100% - 60px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.top_navbar .menu .logo{
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.top_navbar .menu .right_menu{
  margin-top: 10px;
}

.top_navbar .menu .right_menu ul{
  display: flex;
}

.top_navbar .menu .right_menu ul li{
  position: relative;
}

.top_navbar .menu .right_menu ul li .fas{
  font-size: 22px;
  cursor: pointer;
  vertical-align: middle;
  color: #ffffff;
}

.top_navbar .menu .right_menu ul li .profile_dd{
  position: absolute;
  top: 35px;
  right: -10px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px 0;
  width: 180px;
  border-radius: 3px;
  display: none;
  user-select: none;
}

.top_navbar .menu .right_menu ul li .profile_dd.active{
  display: block;
}

.top_navbar .menu .right_menu ul li .profile_dd .dd_item{
  padding: 10px;
  cursor: pointer;
  color: #000000;
  font-weight: 900;
}

.top_navbar .menu .right_menu ul li .profile_dd .dd_item:hover{
  background: #929292;
}

.top_navbar .menu .right_menu ul li .profile_dd:before{
  content: "";
  position: absolute;
  top: -20px;
  right: 10px;
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
}

.main_container .sidebar{
  position: fixed;
  top: 50px;
  left: 0;
  width: 190px;
  height: 100%;
  background: #333333;
  transition: all 0.3s ease;
}

.main_container .sidebar .sidebar__inner{
  position: relative;
}


.main_container .sidebar .sidebar__inner .has-submenu .submenu {
  font-size: 14px;
  font-weight: 100;
  display: none; /* 서브메뉴를 숨김 */
}


.main_container .sidebar .sidebar__inner .has-submenu.active .submenu {
  display: block; /* 마우스 오버시 서브메뉴를 보이게 함 */
}
.main_container .sidebar .sidebar__inner .has-submenu .submenu .ssubmenu {
  display: none; /* 마우스 오버시 서브메뉴를 보이게 함 */
}

.main_container .sidebar .sidebar__inner .has-submenu .submenu:hover .ssubmenu {
  display: block; /* 마우스 오버시 서브메뉴를 보이게 함 */
}


/* 서브메뉴 폰트 */
.main_container .sidebar .sidebar__inner .has-submenu .submenu a{
  font-size: 12px;
  font-weight: 900;
}

.main_container .sidebar .profile{
  position: fixed;
  bottom: 5px;
  display: flex;
  align-items: center;
  color: #9ACD32;
  padding: 20px 0;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.main_container .sidebar .profile p:first-child{
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 3px;
}


.main_container .container{
  margin-top: 50px;
  max-width: 100%;
  width: calc(100% - 190px);
  margin-left: 190px;
  margin-bottom:20px;
  transition: all 0.3s ease;
}

.main_container .container .hihi{
  height: 100%;
  position: relative;
  width:100%;
}

.main_container .sidebar ul li a{
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  padding: 20px 16px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  transition: all 0.3s ease;
}


.main_container .sidebar ul li a .icon{
  margin-right: 15px;
  font-size: 28px;
}


.main_container .sidebar ul li a span{
  display: inline-block;
}

.main_container .sidebar ul li a:hover,
.main_container .sidebar ul li a.active{
  background: #fff;
  color: #1d1d1d;
}

.main_container .container .item{
  float: right;
  text-align: left;
  background: #fff;
  border: 1px solid #E0F2F1;
  margin-bottom: 30px;
  margin-right: 30px;
  padding: 20px;
  font-size: 20px;
  line-height: 22px;
}

/* after adding active class */
.wrapper.active .sidebar{
  width: 60px;
}

.wrapper.active .sidebar ul li a span.title,
.wrapper.active .profile_info
{
  display: none;
}

.wrapper.active .main_container .container{
  width: calc(100% - 60px);
  margin-left: 60px;
}

.cameramenu{
  font-size: 18px;
  font-weight: 500;
  color:#333333;
  overflow: auto;
}

.cameramenu .camerasub {
  font-size: 16px;
  display: none;
  font-weight: 900;
  margin-left: 10%;
}

.coconut {
  margin-left:10%;
  font-size:18px;
  font-weight:600;
  margin-top:5px;
}

.coconut li{
  margin-bottom: 10px;
}

.coconut li i{
  margin-left: 5px;
}

.triangle {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
}